.container-esportes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-esportes .container-noticia {
     color: #FFF;
     background-color: rgb(111, 109, 127);
     border: 1px solid black;

     display: flex;
     flex-direction: column;
     justify-content: center;
     

     width: 800px;
     padding: 10px;
     margin-top: 40px;
     border-radius: 12px;
}

.container-esportes .container-noticia .titulo {
    font-size: 24px;
    font-weight: 800;
}
.container-esportes .container-noticia img {
    margin: 10px;
}
.container-esportes .container-noticia .author {
    color:black;
    padding: 10px;
}

.container-esportes .container-noticia p {
    padding: 10px;
}